<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
      	  
  <test thread-count="5" name="Test">
 			  <parameter name="url" value="http://automationpractice.com" />
  			  <parameter name="browserName" value="chrome" />
      		  <parameter name="email" value="mayurraskar4@gmail.com" />
        	  <parameter name="password" value="crossworld4" />
     
    <classes>
      <class name="testCase.TestCase"/>
     
      		
      
    </classes>
  </test> <!-- Test -->
  
    
</suite> <!-- Suite -->
